@model  List<MyCardsModel>;
@{
    ViewData["Title"] = "我的会员卡";
    Layout = null;
}
    <title>@ViewData["Title"]</title>
    <div class="cards_content content">

        @foreach (var item in Model)
        {
            <div class="card" @(string.IsNullOrEmpty(item.img)?"":"style=background-image:url("+item.img+")")>
                <p class="name">@item.name</p>
                <p class="type">@item.type
                @if (item.type == "次卡")
                {
                    <span>( @(item.canUseCnt-item.usedCnt) / @item.canUseCnt )</span>
                }
                else
                {
                <span> - 有效期至：@item.expiryDate.ToString("yyyy-MM-dd")</span>
                }
                </p>
                <p class="description">特别说明：@item.description</p>
                @if (!string.IsNullOrEmpty(item.cornerMark))
                {
                    <p class="corner_newer">
                        <span class="des">@item.cornerMark</span>
                    </p>
                }
            </div>
        }
        @*<div class="card">
            <p class="name">新人体验卡</p>
            <p class="type">次卡</p>
            <p class="description">特别说明：约课请联系课程顾问噢~</p>
            <p class="corner_newer">
                <span class="des">新人专享</span>
            </p>
        </div>
        <div class="card">
            <p class="name">瑜伽月卡</p>
            <p class="type">有效期至：2019-12-31</p>
            <p class="description">特别说明：约课请联系课程顾问噢~</p>
            <p class="corner_newer">
                <span class="des">新人专享</span>
            </p>
        </div>
        <div class="card" style="background-image:url(/images/cards/o_1d85mtu5f1inq19ff1dvq5c01jvu7.jpeg)">
            <p class="name">新人体验卡</p>
            <p class="type">月卡 - 有效期至：2019-12-31</p>
            <p class="description">特别说明：约课请联系课程顾问噢~</p>
            <p class="corner_newer">
                <span class="des">新人专享</span>
            </p>
        </div>*@
    </div>

<script>
    $(function () {

    });
</script>

