@{
    ViewData["Title"] = "瑜伽";
    Layout = null;
    var tmpDate = DateTime.Now.Date;
}
<title>@ViewData["Title"]</title>
<div class="date_show">
    <ul class="date_list">
        @for (int i = 0; i < 4; i++)
        {
            <li>
                <a href="javascript:void(0);" data="@tmpDate.AddDays(i).ToString("yyyy-MM-dd")" @(i > 0 ? "" : "class=current")>@tmpDate.AddDays(i).ToString("MM-dd")<br>@MakC.Common.mUtils.getweekText(tmpDate.AddDays(i).DayOfWeek)</a>
            </li>
        }
    </ul>
    <a href="javascript:void(0);" class="date_calendar fa fa-calendar"></a>
</div>
<div class="weui-cells content yoga-class-list">
    <a class="weui-cell weui-cell_access course_item" v-bind:href="'/detail?id='+arow.id" v-for="arow in all">
        <div class="weui-cell__hd avatar"><img v-bind:src="arow.avatar"></div>
        <div class="weui-cell__bd">
            <p class="name">{{ arow.name }}</p>
            <p class="schedule">{{ arow.rtimeRange }}  <span style="margin-left:20px;">{{ arow.teacher }}</span></p>
            <div class="tags" v-if="arow.tags">
                <span v-for="tag in arow.tags.split('|')">{{tag}}</span>
            </div>
        </div>
        <div class="book_status">
            <i class="course_status stop"></i>
            <i class="status_warning">名额不多</i>
        </div>
    </a>
</div>
<input id="date3" type="hidden">
<div class="calendar_show" style="display: none;">

</div>

<script>
    $(function () {
        var contentTemplate = $(".yoga-class-list").html();
        $(".date_list a").click(function () {
            var t = $(this).attr("data");
            courseData(t);
        });
        function courseData(rq) {
            $.showLoading();
            var rqa = $(".date_show a[data='" + rq + "']");
            rqa.parent().parent().find(".current").removeClass("current");
            rqa.addClass("current");
            $.ajax({
                url: "/home/yoga_data?rq=" + rq,
                type: "get",
                success: function (data) {
                    $.hideLoading();
                    if (data.ok) {
                        console.log(data.data);
                        $(".yoga-class-list").html(contentTemplate);
                        new Vue({
                            el: '.yoga-class-list',
                            data: { all: data.data }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    $.hideLoading();
                }
            });
        }
        $(".date_show .date_calendar").click(function () {
            $(".calendar_show").slideToggle();
        });
        $("#date3").calendar({
            dateFormat:"yyyy-mm-dd",
            minDate: "@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")",
            container: ".calendar_show",
            onChange: function (p, value, displayValues) {
                if ($(".calendar_show").is(":visible")) {                    
                    $(".calendar_show").slideToggle();
                    courseData(value);
                }
            }
        });
        new Vue({
            el: '.yoga-class-list',
            data: { all:@Html.Raw(TempData["data"])}
        });

    });
</script>
